##############################################################################
##            iroffer 1.4.b03 mod dinoex Konfigurations-Datei               ##
##     Zeilen die mit "#" beginnen oder leere Zeilen werden ignoriert.      ##
##############################################################################

# Version dieser Datei:
#
# $Id$
#

##############################################################################
##                                  FILES                                   ##
##############################################################################


##############################################################################
###                             - pid file -                               ###
### Schreibt die Prozess-ID beim Start in diese Datei                      ###
pidfile mybot.pid

##############################################################################
###                             - log file -                               ###
### logfile gibt die Logfile für den Bot vor. logstats sendet statistische ###
### Informationen an einen eventuell aktiven DCC-Chat. Mögliche Werte yes  ###
### (ja) und no (nein). logrotate gibt den Zeitraum vor, nach dem die Log- ###
### Datei gewechselt wird, mögliche Werte monthly (monatlich), weekly      ###
### (wöchentlich) und daily (täglich).                                     ###
logfile mybot.log
logstats yes
logrotate weekly

##############################################################################
###                             - state file -                             ###
### Diese Datei dient als allgemeines Datenlager für die bereitgestellten  ###
### Dateien und die dazugehörigen statistische Daten. Hier werden auch die ###
### Beschreibungen der Pakete gespeichert.                                 ###
statefile mybot.state

##############################################################################
###                         - xdcc listing file -                          ###
### In diese Datei wird ein vollständiges XDCC-Listing exportiert, um z.B. ###
### als Packliste auf einer Webseite zu dienen, oder für andere Zwecke.    ###
### Wenn xdcclistfileraw gesetzt ist, werden die IRC-Farbcode auch mit     ###
### ausgegeben.                                                            ###
#xdcclistfile mybot.txt
#xdcclistfileraw

##############################################################################
###                     - xdcc listing group only  -                       ###
### Schreibt die Pakete ohne Gruppe und aller Gruppenbeschreibungen        ###
### als Listing in die oben definierte Datei.                              ###
### Sonst werden alle Pakete ohne jegliche Gruppeninformation ausgegeben.  ###
#xdcclist_grouponly

##############################################################################
###                          - admin job file -                            ###
### Liest Admin Befehle aus der Datei und arbeitet diese ab.               ###
### Die Ausgabe und Fehler werden in <filename>.done geschrieben.          ###
#admin_job_file mybot.job


##############################################################################
##                                   IRC                                    ##
##############################################################################

##############################################################################
###                          - connection method -                         ###
### Wie Iroffer sich zum IRC-Server verbinden soll, möglich ist:           ###
###  direct                     - verbindet direkt zum Server (normalfall) ###
###  bnc <ip> <port> <password> <vhost>                                    ###
###                             - verbindet zum IRC-Server über eine BNC   ###
###                               verbinden über <ip>:<port> unter         ###
###                               Verwendung von <password>                ###
###                               <vhost> ist optional                     ###
###  wingate <ip> <port>        - verbindet den Bot zum Server via einem   ###
###                               Wingate Gateway an <ip>:<port>           ###
###  custom <ip> <port>         - verbindet den Bot zum Server durch       ###
###                               Abwendung benutzerdefiniert Kommandos    ###
###                               mehr dazu weiter unten bei proxyinfo     ###
### die meisten Leute werden im Normalfall "direct" benutzen               ###
connectionmethod direct


##############################################################################
###                       - custom connection info -                       ###
### wenn "connectionmethod custom" verwendet wird, kann mittels proxyinfo  ###
### die nötige Befehlszeile für die Verbindung mit dem Proxy/Gateway/etc   ###
### angegeben werden, als Platzhalter für Server und Port sehen $s und $p  ###
### zur Verfügung                                                          ###
#proxyinfo connect $s:$p
#proxyinfo blah blah


##############################################################################
###                         - onjoin information -                         ###
### Mittels server_join_raw, server_connected_raw und channel_join_raw     ###
### können RAW-IRC-Commands an den Server zu verschiedenen Zeitpunkten     ###
### während des Verbindungsaufbaus übergebene werden.                      ###
### server_join_raw wird ausgeführt wenn NICK, USER gesendet, vor MODE     ###
### server_connected wird ausgeführt wenn MODE gesendet, vor JOIN          ###
### channel_join_raw wird ausgeführt wenn ein channel gejoint wird         ###
### alle 3 Kommandos können mehrfach eingesetzt werden                     ###
#server_join_raw
#server_connected_raw
#channel_join_raw


##############################################################################
###                             - nickserv -                               ###
### Wenn der Nick gegen den NickServ registriert ist, kann hier das Pass-  ###
### wort eingetragen werden, damit er sich beim joinen des Server von      ###
### selbst identifiziert
#nickserv_pass mein_botnickpassword


##############################################################################
###                         - server information -                         ###
### Liste der Server und Ports im Aufbau: "server irc.domain.com 6667".    ###
### Die Angabe des Ports ist optional, Standard ist 6667.                  ###
### Mehrere Server können (und sollten) angegeben werden                   ###
server irc.efnet.net
#server irc.efnet.net 6667
#server irc.efnet.net 6667 server-password

##############################################################################
###                         - channels (upto 50) -                         ###
### Channelformat:                                                         ###
### "channel <channel> [-plist <time>] [-plistoffset <time>]               ###
###    [-pformat <full|minimal|summary>] [-key <key>] "                    ###
### plist: Zeit (min) zwischen den einzelnen Announcen                     ###
### plistoffset: Zeit (min) um die die Announce versetzt wird              ###
### pformat: full zeigt alle Packs auf dem Bot und stellt den Standard     ###
###          minimal stellt eine kleine Announce zusammen (ca. 5 Zeilen)   ###
###          summary zeigt eine 2-Zeilen-Zusammenfassung an                ###
### key:     für Channels die den Modus +k (Key) haben, definiert das      ###
###          nötige Passwort für das Joinen des Channel                    ###
### delay:   verzögert alle Ausgaben in den Channel um n Sekunden.         ###
### headline: Aller Text nach diesem Wort wird bei plist vorab ausgegeben. ###
#channel #chan01
#channel #chan02 -plist 14
#channel #chan03 -plist 28 -pformat minimal
#channel #chan04 -plist 14 -pformat summary -key thekey
#channel #chan04 -plist 14 -pformat summary -headline moving soon
#channel #chan04 -plist 14 -pformat summary -delay 60


##############################################################################
###                          - user information -                          ###
### user_nick definiert den Nicknamen des Bots                             ###
### user_realname definiert den text, den man mit /whois abfragen kann     ###
### user_modes definiert die Modi, die für den User gesetzt werden solln   ###
user_nick mybotDCC
user_realname My Bot
user_modes +i


##############################################################################
###                           - watch this user -                          ###
### Wenn der Benutzer nicht im Channel ist, werden keine weiteren          ###
### "xdcc send" mehr angenommen.                                           ###
### Old queue entries are still send.                                      ###
#enable_nick master

##############################################################################
###                            - virtual hosts -                           ###
### Wenn der Computer/Server mehr als eine lokale IP-Adresse hat kann,     ###
### mit local_vhost <ip> angegeben werden, welche genutzt werden soll.     ###
### Wenn Iroffer selbst wählen soll, einfach Option deaktiviert belassen.  ###
### Wichtig, es muss eine IP angegeben werden, kein Domainname!!!          ###
#local_vhost 123.456.789.123

##############################################################################
###                      - incoming TCP connections -                      ###
### Wenn Iroffer hinter einer Firewall gestartet werden soll, und die mög- ###
### lichkeit besteht, Ports zu öffnen bzw zu forwarden, kann mittels       ###
### tcprangestart der erste Port des Bereiches für Iroffer angegeben       ###
### werden. Die Menge nötiger Ports entspricht der maximalen Zahl Send-    ###
### slots. Wenn nichts definiert ist, wählt das OS selbstständig die Ports ###
### für eintreffende TCP-Verbindungen.                                     ###
#tcprangestart 4000

##############################################################################
###                       - override unix loginname -                      ###
### Überschreibt den Unixlogin in der Ident, funktioniert nur ohne OIdent. ###
#loginname fakelogin


##############################################################################
###                      - manual dcc ip translation -                     ###
### Wenn du hinter einen Router mit NAT (Network Address Translation)      ###
### bist der DCC Kommandos nicht umschreibt, sondern nur die ports an      ###
### den Bot weiterleitet, muss hier die offizielle IP-Adressen eingetragen ###
### werden. Wenn unklar ist ob dies zutrifft, benutze diese Option nicht.  ###
### HINWEIS: Hier darf keine Name, sondern nur eine IP-Adresse im Format   ###
###          x.x.x.x  eingetragen werden.                                  ###
#usenatip 123.456.789.123

##############################################################################
###                      - automatic dcc ip translation -                  ###
### Hole die IP-Adresse vom Server und verwende sie als Wert für usenatip. ###
### Setze usenatip auf einen beliebigen Startwert wenn diese Funktion      ###
### benutzt werden soll. Sinnvoll für Bots die eine dynamische IP haben.   ###
#getipfromserver

##############################################################################
###                      - excluded from auto-ignore -                     ###
### Die Nachrichten von diesen Usern werde nie ignoriert.                  ###
### Empfehlung: Chanserv und Nickserv sollten nie ignoriert werden.        ###
#autoignore_exclude nickserv!nickserv@services.domain.com
#autoignore_exclude chanserv!chanserv@services.domain.com

##############################################################################
###                        - auto-ignore threshold -                       ###
### How strict should the auto-ignore be? autoignore_threshold is the      ###
### average number of seconds between requests that will trigger an        ###
### auto-ignore.  The default is 10 seconds/request.                       ###
#autoignore_threshold 10


##############################################################################
##                                   xdcc                                   ##
##############################################################################

##############################################################################
###                         - maximum xdcc slots -                         ###
### Menge gleichzeitiger Dateiübertragungsverbindungen.                    ###
slotsmax 20

##############################################################################
###                         - Queue Information -                          ###
### Größe der Warteschlange, 0 bedeutet keine Warteschlange.               ###
queuesize 10

##############################################################################
###                      - max transfers per person -                      ###
### maximale Anzahl gleichzeitiger Übertragungen pro Person                ###
maxtransfersperperson 1

##############################################################################
###                        - ignore duplicate ip -                         ###
### Erkenne gefakte Hostmasks und breche gleichzeitige Downloads zu dem    ###
### gleichen Rechner ab.                                                   ###
#ignoreduplicateip

##############################################################################
###                     - max queued items per person -                    ###
### Maximale Anzahl gleichzeitiger Warteschlangeneinträge                  ###
maxqueueditemsperperson 2

##############################################################################
###                            - holdqueue -                               ###
### Behalte die Aufträge in der Queue, es werden keine neuen Downloads     ###
### gestartet. Aktive Downloads laufen bis zum Ende. Damit Kann der Bot    ###
### für Updates sanft heruntergefahren werden.                             ###
#holdqueue

##############################################################################
###                 - add/chfile command helper directory -                ###
### Hier kann ein optionales Dateiverzeichnis angegeben werden, wo Iroffer ###
### nach Dateien sucht, die mittels add/chfile hinzugefügt werden.         ###
### Standardmäßig sucht Iroffer im Verzeichnis in dem es ausgeführt wird.  ###
#filedir /home/me/files
#c:\iroffer\files

##############################################################################
###                 - no duplicate files -                                 ###
### Wenn gesetzt erkennt der Bot wenn die gleiche Datei ein zweites mal    ###
### eingetragen werden soll und bricht mit einer Meldung ab.               ###
#noduplicatefiles

##############################################################################
###                     - remove lost files -                              ###
### Wenn eine Datei auf dem Server gelöscht wird, wird die Datei vom Bot   ###
### entfernt. Bitte vorsichtig einsetzten, falls man den Bot im falschen   ###
### Verzeichnis startet, können alle Pakete entfernt werden.               ###
#removelostfiles

##############################################################################
###                           - groups in caps -                           ###
### Wenn gesetzt werden Gruppen immer in Großbuchstaben gewandelt.         ###
#groupsincaps

##############################################################################
###                        - auto default group -                          ###
### Beim hinzufügen neuer Dateien, sucht der Bot nach Ähnlichen Namen und  ###
### setzt das Paket in die gleiche Gruppe.                                 ###
#auto_default_group

##############################################################################
###                 - adddir exlcude pattern -                             ###
### Liste von Dateien oder Mustern die bei adddir und addnew übersprungen  ###
### werden sollen.                                                         ###
#adddir_exclude *.txt
#adddir_exclude *.md5

##############################################################################
###                    - auto add announce -                               ###
### Wenn aktiv, sende eine Nachricht bei jedem neuen Paket was auf dem Bot ###
### hinzugefügt wird in jeden channel mit dem hier angegebenen Text.       ###
#autoaddann neu hinzugekommen

##############################################################################
###                  - restrict xdcc list and xdcc send -                  ###
### Wenn restrictlist gesetzt wird, kann xdcc list und xdcc info nur von   ###
### jemanden ausgeführt werden, der sich auch im channel befindet.         ###
### Wenn restrictprivlist gesetzt wird, kann der bot nicht mehr via xdcc   ###
### list gelistet werden, und gibt, falls es jemand versucht, die mit      ###
### restrictprivlistmsg gesetzte Mitteilung aus.                           ###
### restrictsend bedeutet das nur wer im Channel ist, Dateien vom Bot      ###
### empfangen kann, sobald er ihn verlässt, wird der Send abgebrochen.     ###
#restrictlist
#restrictprivlist
#restrictprivlistmsg Wait for public list in the channel.
#restrictsend

##############################################################################
###                      - restrictprivlistmain -                          ###
### Wenn gesetzt wird "xdcc list" ohne Angabe einer Gruppe abgewiesen.     ###
### Das Listen einer eizelenen Gruppe bleibt aber möglich.                 ###
#restrictprivlistmain

##############################################################################
###                      - restrictprivlistfull -                          ###
### Wenn gesetzt wird "dcc list all" abgewiesen.                           ###
#restrictprivlistfull

##############################################################################
###                         - need voice -                                 ###
### Nur ein user der in einem der Channels den Status voice oder besser    ###
### hat, kann "xdcc list" oder "xdcc send" ausführen.                      ###
### restrictlist und restrictsend muss auch dafür gesetzt sein.            ###
#need_voice

##############################################################################
###                      - channel xdcc commands -                         ###
### Wenn respondtochannelxdcc gesetzt ist, reagiert der Bot auf Kommandos  ###
### die in den Channel gepostet werden.
respondtochannelxdcc

##############################################################################
###                      - channel !list command -                         ###
### Wenn respondtochannellist gesetzt wird, reagiert der bot auf !list     ###
### im Channel geschrieben.                                                ###
#respondtochannellist

##############################################################################
###                      - channel !@find command -                        ###
### Antwortet auf den Befehl "@find begriff" im Channel geschrieben.       ###  
### Der Begriff muss mindestens <n> Zeichen lang sein. Er darf folgende    ###
### Jokerzeichen enthalten:                                                ###
###  * = 0 oder mehr Zeichen,  ? = 1 Zeichen,  # = jede positive Zahl      ###
### Bei n = 0 ist diese Funktion abgeschaltet.                             ###
#atfind 3

##############################################################################
###                   - bypass queue for small files -                     ###
### Wenn jemand eine Datei anfordert, die kleiner oder gleich dem          ###
### definierten Wert (in KB) entspricht, wird diese unabhängig von der     ###
### Slotseinstellung gesendet.
#smallfilebypass 0

##############################################################################
###                      - authorized download hosts -                     ###
### Hiermit kann eingeschränkt werden, wer vom Bot downloaden darf. Ange-  ###
### geben werden Hostmasken. Um allen den Download zu erlauben, einfach    ###
### *!*@* als Hostmask einsetzen.                                          ###
### Jokerzeichen sind:                                                     ###
###  * = 0 oder mehr Zeichen,  ? = 1 Zeichen,  # = jede positive Zahl      ###
downloadhost *!*@*
#downloadhost *!~me@*.domain.com
#downloadhost *!me@192.168.10.#

##############################################################################
###                      - unlimited download hosts -                      ###
### Nicks and Hostnames die hierzu passen, können ohne Beschränkung der    ###
### Bandbreite übertragen.                                                 ###
#unlimitedhost XDCC|*!*@*
 
##############################################################################
###                      - geoip country check -                           ###
### Verhindere Downloads zu hier nicht angegebenen Ländern.                ###
#geoipcountry de
#geoipcountry ch
#geoipcountry at


##############################################################################
##                               Network Usage                              ##
##############################################################################

##############################################################################
###                      - Allow with low bandwidth -                      ###
### Wenn Pakete in der Warteschlange sind, und der Verbrauch der Band-     ###
### breite den vorgegebenen Wert unterschreitet, wird ein zusätzlicher     ###
### Send gestartet für einen Nutzer aus der Warteschlange.                 ###
### Achtung, Wert nicht unsinnig niedrig oder hoch setzten!
#lowbdwth 15

##############################################################################
###                         - transfer min speed -                         ###
### Mindestgeschwindigkeit beim Downloaden, sonst wird der Download abge-  ###
### brochen.                                                               ###
#transferminspeed 10

##############################################################################
###                         - transfer max speed -                         ###
### Maximalgeschwindigkeit beim Downloaden, sonst wird künstlich gebremst. ###
#transfermaxspeed 50

##############################################################################
###                        - bandwidth limiting -                          ###
### Zur Begrennzung von Traffic und um die Verstopfung der Internet-       ###
### Anbindung zu vermeiden, sollte man hier Grenzwerte in KB/sec           ###
### festlegen, die der Bot für Downloads maximal benutzen darf.            ###
### Nomerlerweise gilt der Wert von overallmaxspeed, man kann einen        ###
### zweiten Wert bei overallmaxspeeddayspeed setzen, der nur für ein       ###
### bestimmes Zeitfenster gilt. Anfang und Ende in Studen (0 bis 23)       ###
### wird mit overallmaxspeeddaytime festgelegt. Dies gist an den           ###
### mit overallmaxspeeddaydays angageben Wochentagen:                      ###
### M=Monatg, T=Dienstag, W=Mittwoch, R=Donnerstag, F=Freitag,             ###
### S=Samstag, U=Sonnatg.                                                  ###
#overallmaxspeed 300
#overallmaxspeeddayspeed 100
#overallmaxspeeddaytime 9 17
#overallmaxspeeddaydays MTWRF

##############################################################################
###                    - daily/weekly/monthly limits -                     ###
### Das maimale Übertragunsvolumen (Traffic) kann jeweils für den Tag,     ###
### die Woche und/oder den Monat festgelegt werden. Ein Wert vonm 0        ###
### schaltet die Überwachung ab.                                           ###
### Wird das angegbenen Limit erreicht, so werden alle Downloads sofort    ###
### abgebrichen, und die Warteschlange geleert.                            ###
### Das Tageslimit beginnt neu um Mitternacht,                             ###
### das Wochenlimit am Sonntag Morgen.                                     ###
###                                                                        ###
### transferlimits <MB am Tag> <MB in der Woche> <MB im Monat>             ###
###                                                                        ###
### BEISPIEL: 'transferlimits 200' setzt die Grenze auf 200MB am Tag.      ###
###                                                                        ###
### BEISPIEL: 'transferlimits 0 0 5000' setzt die Grenze auf 5000MB im     ###
###            Monat.                                                      ###
###                                                                        ###
### BEISPIEL: 'transferlimits 200 1200 5000' setzt die Grenzen auf         ###
###           5000MB im Monat, 1200MB die Woche und 200MB am Tag.          ###
#transferlimits 200 1200 5000
 
##############################################################################
###                           - start of month -                           ###
### Lege den Tag im Monat fest, zu dem der monatliche Traffic neu beginnt. ###
### Standsmäßig der 1. Tag des Monats.                                     ###
### Dieser Wert wird erst ausgewertet wenn der alte Monat abgelaufen ist.  ###
#start_of_month 1

##############################################################################
###                       - ignore upload bandwidth-                       ###
### Ignoriert den Traffic der beim Uplaod von Dateien entsteht.            ###
### Sonst werden die Downloads bei schnellen Uploads abgebrochen.          ###
#ignoreuploadbandwidth


##############################################################################
##                                   Other                                  ##
##############################################################################

##############################################################################
###                          - autosend feature -                          ###
### Wenn autosendpack gesetzt wird, schickt bei der Bot sobald ein         ###
### Schlüsselwort im Channel aufkommt, das definierte Pack an die Person.  ###
### Es wird auf das Erste passende Wort reagiert.                          ###
###           === DIE MEISTEN WERDEN DIES NICHT BENÖTIGEN! ===             ###
###         === HOLT EUCH ERST VOM CHANNEL OP DIE ERLAUBNIS! ===           ###
#autosendpack <packnr> <schlüsselwort> <mitteilung>
#autosendpack 1 !rules Hier sind die Regeln.
#autosendpack 2 !faq hier ist die FAQ.

##############################################################################
###                             - headline -                               ###
### Überschrift für alle XDCC-Lists                                        ###
#headline New Stuff Just Added!!

##############################################################################
###                           - credit line -                              ###
### Fussnote für alle XDCC-Lists                                           ###
#creditline Brought to you by me

##############################################################################
###                             - hide_list_info -                         ###
### Zeigt die Zeile "/msg nick xdcc info #x" beim announcen nicht an, wenn ###
### gesetzt.                                                               ###
#hide_list_info

##############################################################################
###                            - disablexdccinfo -                         ###
### Wenn gesetzt, schaltet es den Befehl "xdcc info" aus.                  ### 
#disablexdccinfo

##############################################################################
###                            - hidelockedpacks -                         ###
### Wenn gesetzt, werden gesperrte Packete bei "xdcc list" oder            ###
### "xdcc info" Anfragen nicht angezeigt.                                  ###
#hidelockedpacks

##############################################################################
###                         - index bot notify -                           ###
### Wenn iroffer periodisch jemanden eine Mitteilung schicken soll für     ###
### Indizierungszwecke oder anderen bedarf, kann perdidocmsg verwendet     ###
### werden:                                                                ###
### "periodicmsg <nick> <zeit in min> <mitteilung>
#periodicmsg nick 10 index me

##############################################################################
###                        - remote admin info -                           ###
### Die Admincommands können nur von jemanden ausgeführt werden, dessen    ###
### hostmaske auf die Vorgabe passt, und der das nötige Kennwort kennt.    ###
### Diese Kommandos können entweder via DCC-Chat oder aber via             ###
### /msg <botnick> admin <adminpass> <kommando> ausgeführt werden.         ###
### adminhost benötigt eine komplette hostmask im Aufbau nick!ident@host   ###
### Falls kein identd benutzt wird, nicht vergessen ein "~" hinzuzufügen.  ###
### Jokerzeichen sind:                                                     ###
###  * = 0 oder mehr Zeichen,  ? = 1 Zeichen,  # = jede positive Zahl      ###
### Aus Sicherheitsgründen wird das Adminpasswort verschlüsselt in der     ###
### Konfigurationsdatei hinterlegt. Um ein Password zu generieren, bitte   ###
### Iroffer mit Option "-c" ausführen und den Instruktionen folgen.        ###
adminpass add_your_encrypted_password_here
adminhost *!~me@*.domain.com
adminhost *!me@192.168.10.#

##############################################################################
###                          - upload directory -                          ###
### Soll der Bot DCC-Uploads akzeptieren, müssen hier die Uploadhosts,     ###
### ein Uploadverzeichnis und die maximale Größe in MB für einen Upload    ###
### definiert werden (0 entspricht keinem Limit bei der Uploadgrösse).     ###
### Jokerzeichen sind:                                                     ###
###  * = 0 oder mehr Zeichen,  ? = 1 Zeichen,  # = jede positive Zahl      ###
### ACHTUNG!! Für das Uploaden sollte ein eigenes Verzeichnis angelegt     ###
### ACHTUNG!! werden, um überschreiben bzw. erweitern wichtiger Dateien zu ###
### ACHTUNG!! verhindern, bzw Missbrauch und Explolits nicht zu ermöglichen###
#uploadhost *!~me@*.domain.com
#uploadhost *!me@192.168.10.#
#uploaddir /home/me/upload
#uploaddir c:\iroffer\upload
#uploadmaxsize 10

##############################################################################
###                          - hide OS information-                        ###
### Wenn Iroffer in den Versionsangaben und in seine Quitmitteilung nicht  ###
### das Betriebssystem nennen soll, dann bitte diese Option anstellen.     ###
#hideos

##############################################################################
###                        - log notices/messages -                        ###
### Wenn aktiviert, zeichnet Iroffer alle Notices und/oder Messages im dem ###
### Nachichtenspeicher auf, dieser kann vom Admin über Chat ausgelesen und ###
### gelöscht werden.                                                       ###
#lognotices
logmessages

##############################################################################
###                           - timestamp console -                        ###
### Wenn definiert, setzt Iroffer eine Zeitmarke in der Konsole            ###
#timestampconsole

##############################################################################
###                             - quiet mode -                             ###
### Wenn definiert, unterdrückt Iroffer die meisten Info Meldungen         ###
#quietmode

##############################################################################
###                       - periodic notify time -                         ###
### Legt fest, wie regelmäßig Iroffer Nutzer über aktuelle Platzierung in  ###
### der Warteschlange informiert bzw über die verbrauchte Bandbreite.      ###
### Standard ist 5 min, um es vollständig zu deaktivieren, setzt man es    ###
### auf 0.                                                                 ###
#notifytime 5

##############################################################################
###                         - punish slow users -                          ###
### Wenn ein Nutzer unter den Minimaldownloadspeed fällt, wird er bestraft ###
### indem seine Downloads abgebrochen werden und er aus der Warteschlange  ###
### entfernt wird. Durch diese Option kann er noch zusätzlich um die       ###
### definierte Zeit (in min) vom Bot ignoriert werden.                     ###
#punishslowusers 10

##############################################################################
###                      - disable md5sum of files -                       ###
### Standardmässig berechnet Iroffer für alle angebotenen Dateien die MD5- ###
### Prüfsumme. Zum Abstellen von diesem, diese Option setzen.              ###
#nomd5sum

##############################################################################
##                                    End                                   ##
##############################################################################

