Source: iroffer-dinoex
Section: net
Priority: optional
Maintainer: Weilu Jia <optix2000@teitoku.net>
Build-Depends: debhelper (>=9),
 libcurl4-gnutls-dev,
 gnutls-dev
Standards-Version: 3.9.8
Homepage: http://iroffer.dinoex.net/

Package: iroffer-dinoex
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: iroffer
Replaces: iroffer
Description: IRC file distribution bot
 iroffer is a fileserver for IRC (commonly referred to as a DCC bot).
 It uses the DCC feature of IRC to send files to other users. iroffer
 will connect to an IRC server and let people request files from it.
 Unlike similar programs, iroffer is not a script; it is a standalone
 executable written entirely in C, from scratch, with high transfer
 speed and efficiency in mind. iroffer has been known to reach
 6MByte/sec or higher bandwidth usage when multiple transfers are
 occurring at the same time.
 .
 iroffer-dinoex is a fork of iroffer developed and maintained by
 Dirk Meyer. It offers a lot of enhancements and new features,
 and is backwards-compatible with the original iroffer. New features
 offered by iroffer-dinoex include support for IPv6, SSL (either via
 OpenSSL or GNU TLS), passive DCC, large (> 4 GB) files, UPnP, and
 the ability to extend it via a Ruby scripting engine.
