#!/usr/bin/make -f

# Harden binary, as this is an internet accessible daemon
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ 

override_dh_auto_configure:
	./Configure -curl -tls
	# For some reason PREFIX=/usr doesn't work
	sed -i 's/usr\/local/usr/g' Makefile
